**/.git
**/.gitignore
**/.idea
**/.next
**/node_modules
**/tmp
**/dist
**/coverage
**/*.log
!services/frontend/**
!services/admin-frontend/**
!services/server/**
!proto/**
!buf.yaml
!buf.lock
!buf.gen.yaml
